<html>
	<head>Hi <%= userName %>,</head>
    <body>
    	<p>Welcome to <%= sails.config.hub.platformName %>  !</p>
    	<p>Thank you and congratulations for registering and creating an account at <%= sails.config.hub.platformName %> .</p>
    	<p>To access your account, please login at <%= link %> </p>
    	<br/><p>Thanks,</p>
    	<p><%= sails.config.hub.platformName %> Team</p>
    </body>
</html>
